In [1]:
import os
import pandas as pd
import json
import config
from sqlalchemy import create_engine

# Handling the Data loading for PostgreSQL with the help of Pandas

In [2]:
# Establish the PostgreSQL connection
connection_string = f"{config.POSTGRES_UN}:{config.POSTGRES_PW}@{config.POSTGRES_HOST}:{config.POSTGRES_PORT}/{config.POSTGRES_DB_NAME}"
engine = create_engine(f'postgresql://{connection_string}')

In [3]:
# Load data from the .csv files in to the database
for x in os.listdir('resources'):
    df = pd.read_csv(f'resources/{x}').to_sql(name=x[:-4], con=engine, if_exists='replace', index=False)

In [4]:
# Verify that the data has been inserted into postgres database
for x in os.listdir('resources'):
    print(pd.read_sql_query(f'select * from {x[:-4]} limit 5', con=engine))

   id         name  price_per_unit
0   1  item_name_1            5.10
1   2  item_name_2            6.62
2   3  item_name_3            3.55
3   4  item_name_4            3.88
4   5  item_name_5            5.38
   id                                              items  server_id    gross  \
0   1  40, 41, 17, 24, 16, 12, 1, 13, 23, 28, 49, 42,...        170  6836.43
1   2            43, 1, 7, 47, 12, 37, 18, 36, 34, 5, 46        177  5670.24
2   3  25, 18, 42, 35, 46, 24, 27, 8, 24, 48, 44, 29,...        174  7993.77
3   4    1, 5, 26, 23, 20, 25, 40, 6, 46, 29, 13, 40, 35        152  5496.18
4   5     14, 45, 2, 5, 9, 40, 31, 1, 18, 10, 25, 22, 44        131  4914.72

          tax        total
0  598.187625  7434.617625
1  496.146000  6166.386000
2  699.454875  8693.224875
3  480.915750  5977.095750
4  430.038000  5344.758000
   id recipe_name                                             recipe  \
0   1    recipe_1  37, 31, 48, 28, 48, 23, 8, 10, 26, 43, 31, 31,...
1   2    recipe_2  1, 21, 23, 33, 28, 27, 21, 42, 17, 35, 12, 35,...
2   3    recipe_3  9, 11, 15, 2, 3, 50, 30, 6, 29, 21, 3, 50, 24,...
3   4    recipe_4  9, 3, 47, 3, 43, 40, 3, 39, 31, 10, 50, 4, 28,...
4   5    recipe_5  8, 38, 10, 42, 45, 36, 8, 42, 38, 42, 18, 30, ...

   price_to_create_dish
0                128.33
1                 70.55
2                123.78
3                186.28
4                155.05
   id           name  sex        born   hire_date
0   1  server_name_1    3  1948-07-14  2015-05-25
1   2  server_name_2    2  1947-08-13  2019-07-03
2   3  server_name_3    2  1961-07-30  2016-07-17
3   4  server_name_4    2  1995-08-24  2019-11-25
4   5  server_name_5    2  2000-07-23  2021-07-28

# Handling the Data loading for MySQL with the help of Pandas

In [5]:
# Establish the MySQL connection
connection_string = f"{config.MYSQL_UN}:{config.MYSQL_PW}@{config.MYSQL_HOST}:{config.MYSQL_PORT}/{config.MYSQL_DB_NAME}"
engine = create_engine(f'mysql+pymysql://{connection_string}')

In [6]:
# Load data from the .csv files in to the database
for x in os.listdir('resources'):
    df = pd.read_csv(f'resources/{x}').to_sql(name=x[:-4], con=engine, if_exists='replace', index=False)

In [7]:
# Verify that the data has been inserted into MySQL database
for x in os.listdir('resources'):
    print(pd.read_sql_query(f'select * from {x[:-4]} limit 5', con=engine))

   id         name  price_per_unit
0   1  item_name_1            5.10
1   2  item_name_2            6.62
2   3  item_name_3            3.55
3   4  item_name_4            3.88
4   5  item_name_5            5.38
   id                                              items  server_id    gross  \
0   1  40, 41, 17, 24, 16, 12, 1, 13, 23, 28, 49, 42,...        170  6836.43
1   2            43, 1, 7, 47, 12, 37, 18, 36, 34, 5, 46        177  5670.24
2   3  25, 18, 42, 35, 46, 24, 27, 8, 24, 48, 44, 29,...        174  7993.77
3   4    1, 5, 26, 23, 20, 25, 40, 6, 46, 29, 13, 40, 35        152  5496.18
4   5     14, 45, 2, 5, 9, 40, 31, 1, 18, 10, 25, 22, 44        131  4914.72

          tax        total
0  598.187625  7434.617625
1  496.146000  6166.386000
2  699.454875  8693.224875
3  480.915750  5977.095750
4  430.038000  5344.758000
   id recipe_name                                             recipe  \
0   1    recipe_1  37, 31, 48, 28, 48, 23, 8, 10, 26, 43, 31, 31,...
1   2    recipe_2  1, 21, 23, 33, 28, 27, 21, 42, 17, 35, 12, 35,...
2   3    recipe_3  9, 11, 15, 2, 3, 50, 30, 6, 29, 21, 3, 50, 24,...
3   4    recipe_4  9, 3, 47, 3, 43, 40, 3, 39, 31, 10, 50, 4, 28,...
4   5    recipe_5  8, 38, 10, 42, 45, 36, 8, 42, 38, 42, 18, 30, ...

   price_to_create_dish
0                128.33
1                 70.55
2                123.78
3                186.28
4                155.05
   id           name  sex        born   hire_date
0   1  server_name_1    3  1948-07-14  2015-05-25
1   2  server_name_2    2  1947-08-13  2019-07-03
2   3  server_name_3    2  1961-07-30  2016-07-17
3   4  server_name_4    2  1995-08-24  2019-11-25
4   5  server_name_5    2  2000-07-23  2021-07-28